.Card-Component {
  background-color: #457B9D;
  border: 3px solid #1d3557;
  width: 100%;
  max-width: 200px;
  height: 400px;
  display: flex;
  flex-direction: column;
  padding: 32px;
  color: white;

  & img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
  & h1 {
    text-align: justify;
  }
  & p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: justify;
  }
  & .date {
    text-align: right;
    font-size: small;
  }
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  &:hover {
    box-shadow: 15px 15px #1d3557;
    transition: 500ms;
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
    -ms-transition: 500ms;
    -o-transition: 500ms;
    transform: translate(-2.1rem, -2ex);
    -webkit-transform: translate(-2.1rem, -2ex);
    -moz-transform: translate(-2.1rem, -2ex);
    -ms-transform: translate(-2.1rem, -2ex);
    -o-transform: translate(-2.1rem, -2ex);
}
}
.header {
  display: fixed;
  width: 100%;
  align-items: center;
  gap: 10px;
  color: white;
  background-color: #E63946;
}

.grid-component {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  @media screen and (max-width: 1280px) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
  }
  @media screen and (max-width: 896px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
  }
  @media screen and (max-width: 640px) {
      display: grid;

      grid-template-columns: repeat(1, 1fr);
  }
}
